<div class="fractal-lime">
  <div #explorer id="explorer">


    <app-fractalView class="fractal-view" #fractalView></app-fractalView>

    <input #jscolor id="jscolor" (change)="HTMLgradient.setColorActive($event)" class="jscolor {width:250,  height:250}" value="000000">
    <input #jscolor2 id="jscolor2" (change)="setInteriorColor($event)" class="jscolor {width:250,  height:250}" value="000000">
    <span #itSpan id="hide">this is a test</span>

    <div class="controls bottom-right">
      <a (click)="clickEye()" class="btn eye">
        <i #eyeControls class="fa fa-eye-slash" aria-hidden="true"></i>
      </a>

    </div>

    <div #zoomControls class="controls bottom-left" data-toggle="buttons">
      <a (click)="clickZoomIn($event)" class="btn">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a (click)="clickZoomOut($event)" class="btn">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </a>
    </div>

    <div #juliaPullOut class="juliaPullOut open">
      <div class="juliaPicker">
        <app-juliaPicker #juliaPicker (numberChanged)="juliaNumberChanged($event,'full')" (numberChanging)="juliaNumberChanged($event,'low')"></app-juliaPicker>
      </div>
      <div id="juliaPullOut-btn" (click)="clickJuliaPullOut()" (swipe)="swipeJuliaPullOut($event)">
        <ion-icon name="ios-locate-outline"></ion-icon>
      </div>
    </div>


    <div class="paddedPullDown">
      <div #colorPullDown class="colorPullDown close">
        <div class="colorPullDown-btn" (click)="clickColorPullDown()" swipeAll (swipe)="swipeColorPullDown($event)">
          <ion-icon name="ios-color-palette"></ion-icon>
        </div>


        <div #histogramdiv id="histogrampanel">
          <app-histogram #histogram></app-histogram>
          <div #intColor id="int-color" (mouseup)="clickSetInteriorColor($event)" (touchend)="clickSetInteriorColor($event);">
          </div>

        </div>
        <div #gradientdiv id="gradientpanel">
          <app-gradientbuilder #gradient></app-gradientbuilder>
        </div>

        <div #iterationControls class="iteration controls">
          <div class="btn-group shaddow-high" data-toggle="buttons">
            <a (touchstart)="startChangingIterations($event,0.95)" (touchend)="stopChangingIterations($event)" (mousedown)='startChangingIterations($event,0.9)' (mouseup)="stopChangingIterations($event)" (mouseleave)='stopChangingIterations($event)' class="btn">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </a>
            <input #itInput class="iteration-textbox" [(ngModel)]="NumIterations" (ngModelChange)="ngModelChangeIterations()" type="number" min="2" value="85">
            <a (touchstart)="startChangingIterations($event,1.05)" (touchend)="stopChangingIterations($event)" (mousedown)='startChangingIterations($event,1.1)' (mouseup)="stopChangingIterations($event)" (mouseleave)='stopChangingIterations($event)' class="btn">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div #webView class="web-view">

      <div id="web-view-btn" (click)="clickWebView()" (swipe)="swipeWebView($event)">
        <i #webViewCaret class="fa fa-cogs" aria-hidden="true"></i>
      </div>

      <div class="web-view-outer" (swipe)="swipeWebView($event)">
        <h1>Options</h1>

        <div class="menu">
          <a #saveButton (click)="clickSave($event)" class="btn">
            <ion-icon name="ios-image"></ion-icon>
            <span #saveText> Image</span>
          </a>
          <a (click)="clickEquation($event)" class="btn">
            <ion-icon name="ios-cog"></ion-icon> Equations
          </a>
          <a (click)="clickGradient($event)" class="btn">
            <ion-icon name="ios-color-palette"></ion-icon> Gradients
          </a>
          <a #saveButton (click)="clickFavorite($event)" class="btn">
            <ion-icon name="ios-star"></ion-icon>
            <span #saveText> Favorite</span>
          </a>
          <a (click)="clickShare($event)" class="btn">
            <ion-icon name="share"></ion-icon> Share
          </a>
          <a (click)="clickInfo($event)" class="btn">
            <ion-icon name="md-information-circle"></ion-icon> Info
          </a>
          <a (click)="clickSettings($event)" class="btn">
            <ion-icon name="md-build"></ion-icon> Settings
          </a>
          <a (click)="clickHelp($event)" class="btn">
            <ion-icon name="md-help-circle"></ion-icon> Help
          </a>
        </div>

      </div>

      <div class="web-view-inner" (swipe)="swipeWebView($event,false,true,false)">

        <section #saveSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Image Save Size</h1>
          </div>

          <ion-list>
            <ion-item (click)="saveSize(1)">
              <ion-icon name="ios-image"></ion-icon>
              1X screen size
              <span>{{this.fractal.complexPlain.getViewCanvas().width}} X {{this.fractal.complexPlain.getViewCanvas().height}}</span>
            </ion-item>
            <ion-item (click)="saveSize(2)">
              <ion-icon name="ios-image"></ion-icon>
              2X screen size
              <span>{{this.fractal.complexPlain.getViewCanvas().width * 2}} X {{this.fractal.complexPlain.getViewCanvas().height * 2}}</span>
            </ion-item>
            <ion-item (click)="saveSize(3)">
              <ion-icon name="ios-image"></ion-icon>
              3X screen size
              <span>{{this.fractal.complexPlain.getViewCanvas().width * 3}} X {{this.fractal.complexPlain.getViewCanvas().height * 3}}</span>
            </ion-item>
            <ion-item (click)="saveSize(5)">
              <ion-icon name="ios-image"></ion-icon>
              5X screen size
              <span>{{this.fractal.complexPlain.getViewCanvas().width * 5}} X {{this.fractal.complexPlain.getViewCanvas().height * 5}}</span>
            </ion-item>
            <ion-item (click)="saveSize(8)">
              <ion-icon name="ios-image"></ion-icon>
              8X screen size
              <span>{{this.fractal.complexPlain.getViewCanvas().width * 8}} X {{this.fractal.complexPlain.getViewCanvas().height * 8}}</span>
            </ion-item>
          </ion-list>
        </section>

        <section #equationSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Equations</h1>
          </div>

          <ion-list>
            <ion-item (click)="onEqChanged('Mandelbrot')">
              <ion-icon name="ios-cog"></ion-icon>
              Classic mandelbrot
            </ion-item>
            <ion-item (click)="onEqChanged('MandelbrotPow4')">
              <ion-icon name="ios-cog"></ion-icon>
              Mandelbrot 4th power
            </ion-item>
            <ion-item (click)="onEqChanged('MandelbrotPow6')">
              <ion-icon name="ios-cog"></ion-icon>
              Mandelbrot 6th power
            </ion-item>
            <ion-item (click)="onEqChanged('Tricorn')">
              <ion-icon name="ios-cog"></ion-icon>
              Tricorn
            </ion-item>
            <ion-item (click)="onEqChanged('BurningShip')">
              <ion-icon name="ios-cog"></ion-icon>
              Burning Ship
            </ion-item>
            <ion-item (click)="onEqChanged('Julia')">
              <ion-icon name="ios-cog"></ion-icon>
              Julia explorer
            </ion-item>
          </ion-list>
        </section>

        <section #gradientSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Gradients</h1>
          </div>

          <a class="btn" (click)="addToGradient()">
            <ion-icon name="ios-star"></ion-icon>Save Gradient</a>

          <ion-list *ngFor="let gra of gradients">
            <ion-item (click)="onGradientChanged(gra)">
              <div class="gradient">
                <app-colourslider colorStr="{{gra}}"> </app-colourslider>

                <ion-icon (click)="deleteGradient($event,gra)" name="md-close-circle"></ion-icon>
              </div>
            </ion-item>
          </ion-list>

          <ion-list *ngFor="let gra of libGra">
            <ion-item (click)="onGradientChanged(gra)">
              <div class="gradient">
                <app-colourslider colorStr="{{gra}}"> </app-colourslider>
              </div>
            </ion-item>
          </ion-list>
        </section>

        <section #FavoritesSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Favorites</h1>
          </div>

          <a class="btn" (click)="addToFavorites()">
            <ion-icon name="ios-star"></ion-icon>Save to favorites</a>

          <div *ngFor="let fav of favorites">
            <div class="cards clickable" (click)="onLibrarySelection($event,fav)">
              <img class="fractalTumb" src="{{fav.base64}}" width="512px" height="288px">
              <ion-icon (click)="deleteFavorite($event,fav)" name="md-close-circle"></ion-icon>
            </div>
          </div>

          <div class="header pos">
            Library Items
          </div>

          <div *ngFor="let lib of libFav">
            <div class="cards clickable" (click)="onLibrarySelection($event,lib)">
              <img class="fractalTumb" src="{{lib.base64}}" width="512px" height="288px">
            </div>
          </div>
        </section>

        <section #InfoSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Info</h1>
          </div>

          <div>
            <ion-list class="key-val">
              <ion-item>
                <ion-label (click)="clickEquation($event)">
                  Equation
                  <span>{{this.fractal.getCalculationFunction().getName()}}</span>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Real Center</ion-label>

                <ion-input [(ngModel)]="this.fractal.complexPlain.getSquare().center.r" (ngModelChange)="ngModelChangeCenterR($event)" type="number"></ion-input>

              </ion-item>
              <ion-item>
                <ion-label>Imaginary Center</ion-label>

                <ion-input [(ngModel)]="this.fractal.complexPlain.getSquare().center.i" (ngModelChange)="ngModelChangeCenterI($event)" type="number"></ion-input>

              </ion-item>
              <ion-item>
                <ion-label>Width</ion-label>

                <ion-input [(ngModel)]="this.fractal.complexPlain.getSquare().width" (ngModelChange)="ngModelChangeWidth($event)" type="number"></ion-input>

              </ion-item>

              <div *ngIf="this.fractal.getCalculationFunction().getName() == 'Julia';">
                <ion-item>
                  <ion-label>Real Julia Value</ion-label>

                  <ion-input [(ngModel)]="this.fractal.getCalculationFunction().juliaReal" (ngModelChange)="ngModelChangeJuliaR($event)" type="number"></ion-input>

                </ion-item>
                <ion-item>
                  <ion-label>Imaginary Julia Value</ion-label>

                  <ion-input [(ngModel)]="this.fractal.getCalculationFunction().juliaImaginary" (ngModelChange)="ngModelChangeJuliaI($event)" type="number"></ion-input>

                </ion-item>
              </div>
            </ion-list>

          </div>
        </section>

        <section #settingsSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Settings</h1>
          </div>

          <div class="cards">
            <h3>Force Rendering Mode</h3>
            <p>Somtimes you might want to force the rendering to be either on the GPU or the CPU, The default mode is autodetect.
              <br>
              <br> When in autodetect mode the rendering will automaticly switch between CPU or GPU
              <br>
              <br> Somtimes for example when exploring extrerm julia numbers presision can be lost early even when you are not zoomed excesivly, In this case you can select to force CPU mode for extra presission.
            </p>

            <ion-list radio-group [(ngModel)]="renderingMode" (ngModelChange)="renderingModeChanged(renderingMode)">
              <ion-item>
                <ion-label>Auto</ion-label>
                <ion-radio value="auto"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Force GPU</ion-label>
                <ion-radio value="gpu"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Force CPU</ion-label>
                <ion-radio value="cpu"></ion-radio>
              </ion-item>
            </ion-list>
          </div>

          <div class="cards">
            <h3>GPU target fps</h3>
            <p>This is only releavent during animations, The final render quality is not affected
              <br> If the FPS falls below the minimum quality will be reduced, If the FPS exedes the maximum then quality will be incressed
              <br> The defauts are max:100 min:25</p>
            
            <ion-item>
                <ion-label>Minimum target FPS</ion-label>
                <ion-input [(ngModel)]="tminfps" (ngModelChange)="targetMinFPS(tminfps)" type="number"></ion-input>
              </ion-item>
            <ion-item>
              <ion-label>Maximum target FPS</ion-label>
              <ion-input [(ngModel)]="tmaxfps" (ngModelChange)="targetMaxFPS(tmaxfps)" type="number"></ion-input>
            </ion-item>

          </div>
        </section>

        <section #helpSection class="hide">
          <div class="header">
            <ion-icon (click)="clickWebView(true)" name="md-close-circle"></ion-icon>
            <h1>Help</h1>
          </div>


          <div class="cards">
            <h3>Exploring</h3>
            <p>Use drag and pinch gestures or double tap to zoom. Mouse, trackpad and mouse wheels are also supported.</p>
            <video class="video" poster="assets/imgs/logo.png" controls>
              <source src="assets/video/exploring.mp4" type="video/mp4">
            </video>
          </div>

          <div class="cards">
            <h3>Changing Iterations</h3>
            <p>Iterations control the detail of the fractal.</p>
            <video class="video" poster="assets/imgs/logo.png" controls>
              <source src="assets/video/iterations.mp4" type="video/mp4">
            </video>
          </div>

          <div class="cards">
            <h3>Create a gradient</h3>
            <p>Creating a gradient.</p>
            <video class="video" poster="assets/imgs/logo.png" controls>
              <source src="assets/video/gradient.mp4" type="video/mp4">
            </video>
          </div>

          <div class="cards">
            <h3>Using the histogram</h3>
            <p>Distort the gradient onto the fractal to control what colour is placed where.</p>
            <video class="video" poster="assets/imgs/logo.png" controls>
              <source src="assets/video/histogram.mp4" type="video/mp4">
            </video>
          </div>

          <div class="cards">
            <h3>The Julia Explorer</h3>
            <p>Use the Julia picker to generate unique fractals from the Mandelbrot set.</p>
            <video class="video" poster="assets/imgs/logo.png" controls>
              <source src="assets/video/julia.mp4" type="video/mp4">
            </video>
          </div>

        </section>

      </div>

    </div>

    <div #alert class="alert center" (wheel)="$event.preventDefault()">
      <app-alert #alertComponent></app-alert>
    </div>

  </div>
</div>