<div class="fractal-lime">
  <div #explorer id="explorer" (window:resize)="windowResized()">

    <input #jscolor id="jscolor" (change)="HTMLgradient.setColorActive($event)" class="jscolor {width:250,  height:250}" value="000000">

    <div class="controls bottom-right">
      <div #zoomControls class="btn-group-vertical" data-toggle="buttons">
        <a (click)="zoomInClick($event)" class="btn">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a (click)="zoomOutClick($event)" class="btn">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
      </div>

      <a (click)="toggelEye()" class="btn eye">
        <i #eyeControls class="fa fa-eye-slash" aria-hidden="true"></i>
      </a>

    </div>

    <div class="controls bottom-left">
      <a #shareButton (click)="share($event)" class="btn">
        <ion-icon name="share"></ion-icon>
      </a>
      <div #saveButton class="select-container" (mousedown)="abortDownload()">
        <select #saveSelect class="select" id="eq-select" (change)="save($event)">
          <option value="non-option" disabled>Save jpg</option>
          <option value="1x">1X Screen Size</option>
          <option value="2x">2X Screen Size</option>
          <option value="3x">3X Screen Size</option>
          <option value="5x">5X Screen Size</option>
          <option value="8x">8X Screen Size</option>
        </select>
        <div class="select-icon" id="select-caret-down">
          <i #saveIcon class="fa fa-save" aria-hidden="true"></i>
        </div>
        <i #saveIconText class="icon-text" style="display:none" aria-hidden="true"></i>
      </div>
    </div>

    <div #juliaPullOut class="juliaPullOut open">
      <div class="juliaPicker">
        <app-juliaPicker #juliaPicker (numberChanged)="juliaNumberChanged($event)"></app-juliaPicker>
      </div>
      <div id="juliaPullOut-btn" (click)="toggleJuliaPullOut()">
        <i #juliaPullOutCaret class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
    </div>

    <div #colorControls class="controls top-right">
      <div class="select-container">
        <select #eqSelect class="select" id="eq-select" dir="rtl" (change)="onEqChanged($event)">
          <option value="non-option" disabled>Select equation</option>
          <option value="Mandelbrot">Mandelbrot z=z^2+C</option>
          <option value="MandelbrotPow4">Mandelbrot z=z^4+C</option>
          <option value="MandelbrotPow6">Mandelbrot z=z^6+C</option>
          <option value="Tricorn">Tricorn</option>
          <option value="BurningShip">Burning Ship</option>
          <option value="Julia">Julia</option>
        </select>
        <div class="select-icon" id="select-caret-down">
          <i>f
            <sub>(x)</sub>
          </i>
        </div>
      </div>
      <div class="select-container ">
        <select #colourSelect class="select" id="colour-select" dir="rtl" (change)="onColorChanged($event)">
          <option value="non-option" disabled>Select colour</option>
          <option value={{colorBlueGold}}>Blue/Gold</option>
          <option value={{colorBW}}>B/W</option>
          <option value={{colorRainbow}}>Rainbow</option>
          <option value={{colorBlackBlue}}>Black/Blue</option>
          <option value={{colorCell}}>Cell</option>
          <option value={{colorBlob}}>Blob</option>
          <option value={{colorCrystal}}>Crystal</option>
        </select>
        <div class="select-icon" id="select-caret-down">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div #iterationControls class="controls top-left">
      <div class="btn-group shaddow-high" data-toggle="buttons">
        <a (touchstart)="startChangingIterations(0.95)" (touchend)="stopChangingIterations()" (mousedown)='startChangingIterations(0.9)' (mouseup)="stopChangingIterations()" (mouseleave)='stopChangingIterations()' class="btn">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
        <input class="iteration-textbox" [(ngModel)]="NumIterations" (ngModelChange)="iterationsChanged()" type="number" min="1" value="85">
        <a (touchstart)="startChangingIterations(1.05)" (touchend)="stopChangingIterations()" (mousedown)='startChangingIterations(1.1)' (mouseup)="stopChangingIterations()" (mouseleave)='stopChangingIterations()' class="btn">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div #colorPullDown class="colorPullDown close">
      <div class="colorPullDown-btn" (click)="toggleColorPullDown()">
        <i #colorPullDownCaret class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div #histogramdiv id="histogrampanel">
        <app-histogram #histogram></app-histogram>
      </div>
      <div #gradientdiv id="gradientpanel">
        <app-gradientbuilder #gradient></app-gradientbuilder>
      </div>
    </div>

    <app-fractalView class="fractal-view" #fractalView></app-fractalView>

    <div #webView class="web-view" (swipe)="closeWebView($event)">

      <div id="web-view-btn" (click)="openWebView()">
        <i #webViewCaret class="fa fa-caret-left" aria-hidden="true"></i>
      </div>

      <div class="web-view-inner">


        <h1>Hello World</h1>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

      </div>

    </div>

    <div #alert class="alert center" (wheel)="$event.preventDefault()">
      <app-alert #alertComponent></app-alert>
    </div>

  </div>
</div>