<div class="fractal-lime">
  <div #explorer id="explorer" (window:resize)="windowResized()">

    <input #jscolor id="jscolor" (change)="HTMLgradient.setColorActive($event)" class="jscolor {width:250,  height:250}" value="000000">
    <span #itSpan id="hide">this is a test</span>

    <div class="controls bottom-right">
      <a (click)="clickEye()" class="btn eye">
        <i #eyeControls class="fa fa-eye-slash" aria-hidden="true"></i>
      </a>

    </div>

    <div #zoomControls class="controls bottom-left" data-toggle="buttons">
      <a (click)="clickZoomIn($event)" class="btn">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a (click)="clickZoomOut($event)" class="btn">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </a>
    </div>

    <div #juliaPullOut class="juliaPullOut open">
      <div class="juliaPicker">
        <app-juliaPicker #juliaPicker (numberChanged)="juliaNumberChanged($event)"></app-juliaPicker>
      </div>
      <div id="juliaPullOut-btn" (click)="clickJuliaPullOut()" (swipe)="swipeJuliaPullOut($event)">
        <i #juliaPullOutCaret class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
    </div>



    <div #colorPullDown class="colorPullDown close">
      <div class="colorPullDown-btn" (click)="clickColorPullDown()" swipeAll (swipe)="swipeColorPullDown($event)">
        <i #colorPullDownCaret class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div #histogramdiv id="histogrampanel">
        <app-histogram #histogram></app-histogram>
      </div>
      <div #gradientdiv id="gradientpanel">
        <app-gradientbuilder #gradient></app-gradientbuilder>
      </div>

      <div #iterationControls class="iteration controls">
        <div class="btn-group shaddow-high" data-toggle="buttons">
          <a (touchstart)="startChangingIterations(0.95)" (touchend)="stopChangingIterations()" (mousedown)='startChangingIterations(0.9)' (mouseup)="stopChangingIterations()" (mouseleave)='stopChangingIterations()' class="btn">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </a>
          <input #itInput class="iteration-textbox" [(ngModel)]="NumIterations" (ngModelChange)="ngModelChangeIterations()" type="number" min="2" value="85">
          <a (touchstart)="startChangingIterations(1.05)" (touchend)="stopChangingIterations()" (mousedown)='startChangingIterations(1.1)' (mouseup)="stopChangingIterations()" (mouseleave)='stopChangingIterations()' class="btn">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <app-fractalView class="fractal-view" #fractalView></app-fractalView>

    <div #webView class="web-view" >

      <div id="web-view-btn" (click)="clickWebView()" (swipe)="swipeWebView($event)">
        <i #webViewCaret class="fa fa-caret-left" aria-hidden="true"></i>
      </div>

      <div class="web-view-outer" (swipe)="swipeWebView($event)">
        <h1>Options</h1>

        <p>
          <a (click)="clickShare($event)" class="btn">
            <ion-icon name="share"></ion-icon> Share
          </a>
          <br>
          <a #saveButton (click)="clickSave($event)" class="btn">
            <i class="fa fa-save" aria-hidden="true"></i> Save Img
          </a>
          <br>
          <a (click)="clickEquation($event)" class="btn">
            <i>f
              <sub>(x)</sub>
            </i> Equations
          </a>
          <br>
          <a (click)="clickGradient($event)" class="btn">
            <i class="fa fa-paint-brush" aria-hidden="true"></i> Gradients
          </a>

        </p>

      </div>

      <div class="web-view-inner" (swipe)="swipeWebView($event,false,true,false)">
        <a (click)="clickWebView(true)" class="btn">
          <i class="fa fa-caret-left" aria-hidden="true"></i> Back
        </a>

        <section #saveSection class="hide">
          <h1>Select Image Size To Save</h1>

          <ul>
            <li (click)="saveSize(1)">
              1X screen size
              <br> {{this.fractal.complexPlain.getViewCanvas().width}} X {{this.fractal.complexPlain.getViewCanvas().height}}
            </li>
            <li (click)="saveSize(2)">
              2X screen size
              <br> {{this.fractal.complexPlain.getViewCanvas().width * 2}} X {{this.fractal.complexPlain.getViewCanvas().height * 2}}
            </li>
            <li (click)="saveSize(3)">
              3X screen size
              <br> {{this.fractal.complexPlain.getViewCanvas().width * 3}} X {{this.fractal.complexPlain.getViewCanvas().height * 3}}
            </li>
            <li (click)="saveSize(5)">
              5X screen size
              <br> {{this.fractal.complexPlain.getViewCanvas().width * 5}} X {{this.fractal.complexPlain.getViewCanvas().height * 5}}
            </li>
            <li (click)="saveSize(8)">
              8X screen size
              <br> {{this.fractal.complexPlain.getViewCanvas().width * 8}} X {{this.fractal.complexPlain.getViewCanvas().height * 8}}
            </li>
          </ul>
        </section>

        <section #equationSection class="hide">
          <h1>Select Equations</h1>

          <ul>
            <li (click)="onEqChanged('Mandelbrot')">
              Mandelbrot z=z^2+C
            </li>
            <li (click)="onEqChanged('MandelbrotPow4')">
              Mandelbrot z=z^4+C
            </li>
            <li (click)="onEqChanged('MandelbrotPow6')">
              Mandelbrot z=z^6+C
            </li>
            <li (click)="onEqChanged('Tricorn')">
              Tricorn
            </li>
            <li (click)="onEqChanged('BurningShip')">
              Burning Ship
            </li>
            <li (click)="onEqChanged('Julia')">
              Julia
            </li>
          </ul>
        </section>

        <section #gradientSection class="hide">
          <h1>Select Gradient</h1>

          <ul>
            <li (click)="onGradientChanged(colorBlueGold)">
              Blue/Gold
            </li>
            <li (click)="onGradientChanged(colorBW)">
              B/W
            </li>
            <li (click)="onGradientChanged(colorRainbow)">
              Rainbow
            </li>
            <li (click)="onGradientChanged(colorBlackBlue)">
              Black/Blue
            </li>
            <li (click)="onGradientChanged(colorCell)">
              Cell
            </li>
            <li (click)="onGradientChanged(colorBlob)">
              Blob
            </li>
            <li (click)="onGradientChanged(colorCrystal)">
              Crystal
            </li>
          </ul>
        </section>

      </div>

    </div>

    <div #alert class="alert center" (wheel)="$event.preventDefault()">
      <app-alert #alertComponent></app-alert>
    </div>

  </div>
</div>