#container {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    #canvas-container {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;

        canvas {
            height: 1px;
            width: 1px;
        }
    }
}
