<div #onboarding class="onboarding" *ngIf="onboardingToDo">
    <ion-slides #onboardingSlides pager="true">
        <ion-slide>
            <div class="cards">
                <div class="icon-logo blue-gr">
                    <h1>Explore &amp; discover</h1>
                    <ion-icon name="ios-cog"></ion-icon>
                    <img src="assets/imgs/onbording/border.png">
                </div>
                <div class="body-text">
                    <p>Discover the infinite complexity of fractals.
                        <a *ngIf="platform.is('mobile') == false" (click)="onboardingSlides.slideTo(1, 500)" class="btn">Next</a>
                    </p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cards">
                <div class="icon-logo red-gr">
                    <h1>Colour &amp; Create</h1>
                    <ion-icon name="ios-color-palette"></ion-icon>
                    <img src="assets/imgs/onbording/border.png">
                </div>
                <div class="body-text">
                    <p>Create unique images using a simple &amp; powerful colouring tool.
                        <a *ngIf="platform.is('mobile') == false" (click)="onboardingSlides.slideTo(2, 500)" class="btn">Next</a>
                    </p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="cards">
                <div class="icon-logo green-gr">
                    <h1>Save &amp; Share</h1>
                    <ion-icon name="share"></ion-icon>
                    <img src="assets/imgs/onbording/border.png">
                </div>
                <div class="body-text">
                    <p>Make desktop wallpapers &amp; share your discoveries.
                        <a *ngIf="platform.is('cordova')" (click)="closeOnboarding()" class="btn">Let me in.</a>
                        <a *ngIf="platform.is('mobile') == false" (click)="onboardingSlides.slideTo(3, 500)" class="btn">Next</a>
                    </p>
                </div>
            </div>
        </ion-slide>

        <ion-slide *ngIf="platform.is('cordova') == false">
            <div class="cards">
                <div class="icon-logo red-gr">
                    <h1>Available on the Play Store</h1>
                    <ion-icon name="logo-android"></ion-icon>
                    <img src="assets/imgs/onbording/border.png">
                </div>
                <div class="body-text">
                    <p>
                        <a class="androidButtonHolder" href='https://play.google.com/store/apps/details?id=uk.co.leesavage.fractic&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img class="androidImage" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' />
                        </a>
                        <a (click)="closeOnboarding()" class="btn">Open Web View</a>
                    </p>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</div>

<ExplorerComponent #explorer></ExplorerComponent>