$julia-picker-width: 250px;
$julia-picker-height: 200px;

$button-size: 55px;
$iterations-width: 60px;
$padding: 10px;
$radius: 12px;

$color-dark-green: rgb(0, 29, 0);
$color-green: rgb(0, 180, 0);
$color-green-faded: rgb(65, 180, 65);
$color-green-transp: rgba(0, 180, 0, 0.75);
$color-dark-blue: rgb(4, 21, 63);
$color-dark-blue-transp: rgba(4, 21, 63, 0.75);
$color-dark-blue-faded: rgb(35, 45, 63);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-white-transp: rgba(255, 255, 255, 0.9);
$color-transparent: rgba(255, 255, 255, 0);
$color-grey: rgb(59, 64, 77);
$color-red: rgb(216, 25, 25);
$color-red-faded: rgb(216, 90, 90);

$shadow_2: 4px 4px 20px 0px rgba($color: #000, $alpha: 1);
$shadow_1: 2px 2px 10px 0px rgba($color: #000, $alpha: 1);
$no-shadow: 0px 0px 0px 0px rgba($color: #000, $alpha: 1);

$font-family: "Roboto", "Helvetica Neue", sans-serif;
$font-weight: bold !default;
$font-size: 24px !default;
$font-size-small: 18px !default;

@keyframes disabled-blink {
    0% {
        background-color: $color-dark-blue-transp;
        border-color: $color-green;
    }

    50% {
        background-color: $color-green;
        border-color: $color-dark-blue-transp;
    }

    100% {
        background-color: $color-dark-blue-transp;
        border-color: $color-green;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@mixin transition-all {
    $time: 0.25s;
    $ease: ease-in-out;

    -o-transition: all $time $ease;
    -ms-transition: all $time $ease;
    -moz-transition: all $time $ease;
    -webkit-transition: all $time $ease;

    /* ...and now override with proper CSS property */
    transition: all $time $ease;
}

@mixin interactive {
    background-color: $color-dark-blue-transp;
    color: $color-green;
    font-weight: $font-weight;
    font-family: $font-family;
    text-align: center;
    pointer-events: all;
    font-size: $font-size;
    line-height: $button-size;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: $color-green;
    border-radius: $radius;

    @include transition-all;

    .platform-core &:hover {

        background-color: $color-green-transp;
        color: $color-white;
        border-color: $color-white;
        opacity: 1;
    }
}

@mixin prevent-drag-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@mixin delete-button {
    position: absolute;
    top: $padding;
    right: $padding;
    font-size: $button-size;
    width: $button-size;
    height: $button-size;
    background-color: $color-white;
    color: $color-dark-blue;
    border-bottom-left-radius: $radius;

    @include transition-all();
    .platform-core &:hover {
        color: $color-red;
    }
}

.fade-show {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fade-hide {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#hide {
    visibility: hidden;
    position: absolute;
    white-space: pre;
    font-size: $font-size-small;
    margin: 0;
    padding: 4px;
}

#jscolor, #jscolor2 {
    visibility: hidden;
    position: absolute;
    width: 306px;
    height: 276px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    left: 0;
    right: 0;
    top: 50%;
    transform: perspective(1px) translateY(50%);
    margin: auto;
    z-index: 99;
}

.toast-container {
    pointer-events: none;
}

.toast {
    .toast-wrapper {
        background: $color-dark-blue-transp;
        border-radius: 5px;
        text-align: center;
    }

    .toast-message {
        text-align: center;
        font-size: $font-size;
        color: $color-green;
    }
}

.onboarding {
    height: 100%;
    background-color: $color-grey;

    .blue-gr {
        background: linear-gradient(to bottom, $color-dark-blue, black);
    }

    .red-gr {
        background: linear-gradient(to bottom, $color-red, black);
    }

    .green-gr {
        background: linear-gradient(to bottom, $color-green, black);
    }

    .cards {
        height: 85vh;
        width: 85vw;
        max-width: 85vw;
        max-height: 85vh;
        padding: $padding;
        display: flex;
        flex-direction: column;
        background-color: $color-white;

        h1 {
            text-align: center;
            margin: $padding;
            font-size: $font-size * 1.5;
            color: $color-white;
        }

        .icon-logo {
            margin-left: -$padding;
            margin-right: -$padding;
            margin-top: -$padding;
            position: relative;

            ion-icon {
                line-height: 35vh;
                font-size: 45vh;
                display: block;
                position: relative;
                background-color: $color-transparent;
                transform: translate($padding, -$padding);
                width: 85vw;
                height: 45vh;
                z-index: 1;
                color: $color-white;
            }

            img {
                width: 85vw;
                max-width: 85vw;
                display: block;
                position: absolute;
                bottom: -1px;
                left: 0;
                margin: 0px;
            }
        }

        .body-text {
            margin: -$padding;
            flex-grow: 1;
            padding: $padding;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
            flex-direction: column;

            p {
                padding: $padding;
                margin: 0px;
                width: 85vw;
                font-size: $font-size;
            }

            .btn {
                display: block;
                margin-top: $padding;
                color: $color-green;
                border-color: $color-green;
                border-style: solid;
                border-width: 1px;
                border-color: $color-green;
                border-radius: $radius;
                width: $button-size*3;
                height: $button-size;
                font-size: $font-size-small;
                line-height: $button-size;

                @include transition-all();

                .platform-core &:hover {
                    font-size: $font-size;
                    
                    background-color: $color-green;
                    color: $color-white;
                }
            }
        }
    }
}

.cards {
    padding: $padding;
    background-color: $color-white;
    max-width: 80vw;
    margin: auto;
    margin-top: $padding * 2;
    margin-bottom: $padding * 2;
    box-shadow: $shadow_2;
    position: relative;
    display: block;

    .video {
        width: calc(80vw - #{$padding * 2});
        height: calc(40vw - #{$padding});
    }

    &.clickable {
        @include transition-all();
        .platform-core &:hover {
            background-color: $color-green;

            ion-icon {
                background-color: $color-green;
            }
        }

        ion-icon {
            @include delete-button;
        }
    }

    .fractalTumb {
        pointer-events: none;
        height: initial;
    }
}

.alert {
    color: $color-white-transp;
    background-color: $color-dark-blue-transp;
    padding: $padding;
    text-align: center;
    border-radius: $radius;
    visibility: hidden;
    pointer-events: all;
    box-shadow: $shadow_2;
    width:50vw;

    .btn {
        @include interactive;

        display: inline-block;
        padding: $padding;
        height: $font-size + $padding * 2;
        line-height: $font-size / 2 + $padding;
        margin: $padding;
        text-decoration: none;
    }
}

#explorer {
    @include prevent-drag-selection;

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $color-dark-green;
    z-index: initial;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .paddedPullDown {
        padding-left: 20px;
        padding-right: 20px;
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        pointer-events: none;

        .colorPullDown {
            background-color: $color-dark-blue-transp;
            padding: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            border-style: solid;
            border-top-style: none;
            border-color: $color-green;
            border-width: 1px;
            box-shadow: $shadow_2;
            pointer-events: all;

            &.open {
                transform: translateY(0px);
                transition: 0.2s;
            }

            &.close {
                transform: translateY(-100%);
                transition: 0.2s;
            }

            #gradientpanel {
                height: 88px;
            }

            #histogrampanel {
                height: 44px + $padding * 2;
                flex-grow: 5;

                #int-color {
                    @include interactive;

                    box-shadow: $shadow_2;
                    background-color: red;
                    margin: 0;
                    height: $button-size;
                    width: $button-size;
                    position: absolute;
                    top: 88px + $padding;
                    right: $padding;
                    cursor: cell;
                }
            }

            .colorPullDown-btn {
                @include interactive;

                position: absolute;
                right: 0;
                bottom: -$button-size * 0.8;
                margin-right: $padding;
                width: $button-size * 2;
                height: $button-size * 0.8;
                line-height: $button-size * 0.8;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                box-shadow: $shadow_2;
            }

            .iteration {
                position: absolute;
                bottom: -$button-size - $padding * 2;
                left: 0;

                div.btn-group {
                    box-shadow: $shadow_2;
                    border-radius: $radius;
                }

                .btn {
                    margin: 0px;
                    vertical-align: top;
                    height: $button-size;
                    line-height: $button-size;
                }

                :first-child {
                    border-right-style: none;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }

                :last-child {
                    border-left-style: none;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                input {
                    border-right-style: none;
                    border-left-style: none;
                    margin: 0px;
                    margin-left: 0;
                    margin-right: 0;
                    min-width: 10px;
                    width: $iterations-width;
                    height: $button-size;
                    border-radius: 0px;
                    //transition: width 0.2s;
                }
            }
        }
    }

    .juliaPullOut {
        position: absolute;
        left: 0;
        bottom: $padding;

        &.open {
            transform: translateX(0%);
            transition: 0.2s;
        }

        &.close {
            transform: translateX(-100%);
            transition: 0.2s;
        }

        .juliaPicker {
            @include interactive;

            line-height: 0px;
            width: $julia-picker-width;
            height: $julia-picker-height;
            overflow: hidden;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            box-shadow: $shadow_2;
        }

        #juliaPullOut-btn {
            @include interactive;

            position: absolute;
            top: 0;
            right: -$button-size * 0.8 + 1;
            width: $button-size * 0.8;
            height: $button-size * 2;
            line-height: $button-size * 2;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            box-shadow: $shadow_2;
        }
    }

    .web-view {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        box-shadow: $shadow_2;

        &.open {
            transform: translateX(-85%);
            transition: 0.3s;
        }

        &.open-full {
            transform: translateX(-185%);
            transition: 0.4s;
        }

        &.close {
            transform: translateX(0%);
            transition: 0.3s;
        }

        #web-view-btn {
            position: absolute;
            left: -$button-size * 0.8 + 1;
            margin: auto;
            display: inline-block;

            @include interactive;

            width: $button-size * 0.8;
            height: $button-size * 2;
            line-height: $button-size * 2;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            box-shadow: $shadow_2;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
        }

        .web-view-outer {
            width: 85%;
            height: 100%;
            background-color: $color-dark-blue-transp;
            padding: $padding;
            position: relative;
            display: inline-block;
            text-align: center;
            border-left: solid;
            border-width: 1px;
            border-color: $color-green;
            overflow-y: scroll;

            .heading {
                position: fixed;
                background-color: $color-dark-blue;
                z-index: 1;
                margin: -$padding;
                width: 85%;
                padding: $padding;
                box-shadow: $shadow_2;
                text-align: right;
                color: $color-white-transp;
                font-size: $font-size-small;
            }

            .menu {
                padding-top: $button-size;
            }

            .spacer {
                display: block;
                height: $button-size / 3;
            }

            .btn {
                color: $color-white;
                padding: $padding;
                display: block;
                height: $button-size;
                line-height: $button-size - $padding * 2;
                position: relative;
                text-align: left;
                border-bottom: $color-green solid 1px;
                font-size: $font-size-small;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 1;

                @include transition-all();

                .platform-core &:hover {
                    background-color:  $color-green-transp;
                    border-bottom-color: $color-white;
                    color: $color-white;

                    ion-icon, i {
                        color: $color-white;
                    }
                }

                ion-icon, i {

                    @include transition-all();
                    color: $color-green;
                    font-size: $font-size;
                    line-height: $button-size - $padding * 2;
                }

                &.disabled {
                    cursor: wait;
                    animation-name: disabled-blink;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
            }
        }

        .web-view-inner {
            width: 100%;
            height: 100%;
            background-color: $color-grey;
            padding: $padding;
            position: absolute;
            display: inline-block;
            overflow-y: scroll;
            text-align: center;

            section {
                padding-top: $button-size + $padding;
                padding-bottom: 50%;

                &.hide {
                    visibility: hidden;
                }

                &.show {
                    visibility: visible;
                }

                .header {
                    margin: 0;
                    padding: $padding;
                    width: 100vw;
                    height: $button-size;
                    box-shadow: $shadow_2;
                    position: fixed;
                    top: 0;
                    left: 85%;
                    background-color: $color-white;
                    color: $color-dark-blue;
                    z-index: 1;

                    h1 {
                        font-size: $font-size;
                        margin: 0;
                    }

                    ion-icon {
                        float: right;
                        font-size: $font-size * 2;
                        line-height: $font-size * 1.5;

                        @include transition-all();

                        .platform-core &:hover {
                            color: $color-green;
                        }
                    }
                }

                ion-list {
                    margin: $padding;
                    box-shadow: $shadow_1;

                    ion-item {
                        width: 100%;
                        padding: $padding;
                        font-size: $font-size;
                        border-bottom-color: $color-dark-blue;
                        border-bottom-style: solid;
                        border-bottom-width: 2px;

                        @include transition-all();
                        
                        .platform-core &:hover {
                            background-color: $color-green;
                            color:white;
                            ion-icon{
                                color:white;
                            }
                        }

                        .item-inner {
                            border-style: none;
                            box-shadow: none;
                        }

                        ion-label {
                            padding: $padding;
                        }

                        ion-input {
                            width: 100%;
                            border-style: solid;
                            border-width: 1px;
                            border-color: $color-black;
                        }

                        span {
                            display: block;
                            font-size: $font-size-small;
                            text-align: left;

                            .power {
                                display: inline-block;
                                font-size: $font-size-small * 0.75;
                                position: relative;
                                top: -$font-size-small / 2;
                            }
                        }

                        i, ion-icon {

                        @include transition-all();
                            color: $color-dark-blue;
                        }

                        .gradient {
                            width: 100%;
                            height: $button-size;

                            ion-icon {
                                @include delete-button;
                            }
                        }
                    }
                }

                a.btn {
                    @include interactive;

                    padding: $padding;
                    background-color: $color-white;
                    color: $color-dark-blue;
                    border-color: $color-dark-blue;
                    box-shadow: $shadow_1;
                    margin: $padding;
                    display: inline-block;
                    white-space: nowrap;
                    line-height: $font-size;

                    .platform-core &:hover {
                        background-color: $color-green;
                        color: $color-white;
                    }
                }
            }
        }
    }

    .fractal-view {
        height: 100%;
        width: 100%;
    }

    .controls {
        pointer-events: none;
        padding: $padding;
        font-size: 0px;

        app-gradientpanel, app-histogram {
            pointer-events: all;
        }

        .btn,.iteration-textbox {
            @include interactive;
        }

        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
            font-size: $font-size-small;
        }

        .btn {
            display: inline-block;
            width: $button-size + 2;
            height: $button-size + 2;
            line-height: $button-size;
        }
    }

    .center {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        margin: auto;
        z-index: 99;
    }

    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;

        a {
            box-shadow: $shadow_2;
        }
    }

    .bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: $radius;
        box-shadow: $shadow_2;
        width: $button-size + 2;
        height: $button-size * 2 + 4;
        margin-left: $padding;
        margin-bottom: $padding;
        padding: 0;

        > .btn:first-child {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: 1px;
            border-bottom-style: solid;
        }

        > .btn:last-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
}
