$button-size: 55px !default;
$input-spacing: 10px !default;
$iterations-width: 40px !default;
$select-width: $iterations-width + $button-size * 2 !default;
$corner-radius: 3px !default;
$padding: 10px !default;

$explorer-width: 400px !default;
$explorer-height: 300px !default;

$julia-picker-width: 250px !default;
$julia-picker-height: 200px !default;

$colour-tool: rgba(100, 100, 100, 0.85) !default;
$color-tool-bg: rgba(255, 255, 255, 0.85) !default;
$color-canvas-bg: rgb(0, 29, 0) !default;
$color-highlight-bg: rgba(255, 255, 255, 0.7) !default;
$color-mouseover: black !default;
$color-text: black !default;
$color-transparent: rgba(255, 255, 255, 0) !default;

$shadow: 4px 4px 20px 0px rgba($color: #000, $alpha: 1);
$font-family: Arial, sans-serif !default;
$font-weight: bold !default;
$font-size: 24px !default;
$font-size-small: 18px !default;

@keyframes disabled-blink {
    0% {
        background-color: $color-tool-bg;
        border-color: $colour-tool;
    }

    50% {
        background-color: $colour-tool;
        border-color: $color-tool-bg;
    }

    100% {
        background-color: $color-tool-bg;
        border-color: $colour-tool;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@mixin interactive {
    background-color: $color-tool-bg;
    color: $colour-tool;
    font-weight: $font-weight;
    font-family: $font-family;
    text-align: center;
    pointer-events: all;
    font-size: $font-size;
    line-height: $button-size;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: $colour-tool;
    border-radius: $corner-radius;

    &:hover {
        color: $color-mouseover;
        opacity: 1;
    }

    &:focus {
        color: $colour-tool;
    }
}

@mixin prevent-drag-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.fade-show {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fade-hide {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#jscolor {
    visibility: hidden;
    position: absolute;
    width: 306px;
    height: 276px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    left: 0;
    right: 0;
    top: 50%;
    transform: perspective(1px) translateY(50%);
    margin: auto;
    z-index: 99;
}

#explorer {
    @include prevent-drag-selection;

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $color-canvas-bg;
    z-index: initial;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .colorPullDown {
        background-color: $color-tool-bg;
        padding: 0px;
        border: solid;
        border-style: inset;
        border-color: $colour-tool;
        border-width: 1px;
        border-radius: $corner-radius;
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0px;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column-reverse;

        &.open {
            transform: translateY(0px);
            transition: 0.2s;
        }

        &.close {
            transform: translateY(-100%);
            transition: 0.2s;
        }

        #gradientpanel {
            height: 25%;
            flex-grow: 1;
        }

        #histogrampanel {
            height: 25%;
            flex-grow: 1;
            overflow: hidden;
        }

        .colorPullDown-btn {
            @include interactive;

            position: absolute;
            left: 0;
            right: 0;
            bottom: -$button-size * 0.8;
            margin: auto;
            width: $button-size * 2;
            height: $button-size * 0.8;
            line-height: $button-size * 0.8;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            box-shadow: $shadow;
        }

        .iteration {
            position: absolute;
            bottom: -$button-size - $padding * 2;
            left: 0;

            div.btn-group {
                box-shadow: $shadow;
                border-radius: $corner-radius;
            }

            .btn {
                margin: 0px;
                vertical-align: top;
                height: $button-size;
                line-height: $button-size;
            }

            :first-child {
                border-right-style: none;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            :last-child {
                border-left-style: none;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            input {
                border-right-style: none;
                border-left-style: none;
                margin: 0px;
                margin-left: 0;
                margin-right: 0;
                width: $iterations-width;
                height: $button-size;
                border-radius: 0px;
            }
        }
    }

    .juliaPullOut {
        position: absolute;
        left: 0;
        bottom: 0;

        &.open {
            transform: translateX(0%);
            transition: 0.2s;
        }

        &.close {
            transform: translateX(-100%);
            transition: 0.2s;
        }

        .juliaPicker {
            @include interactive;

            line-height: 0px;
            width: $julia-picker-width;
            height: $julia-picker-height;
            overflow: hidden;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            box-shadow: $shadow;
        }

        #juliaPullOut-btn {
            @include interactive;

            position: absolute;
            top: 0;
            right: -$button-size * 0.8;
            width: $button-size * 0.8;
            height: $button-size * 2;
            line-height: $button-size * 2;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            box-shadow: $shadow;
        }
    }

    .web-view {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;

        &.open {
            transform: translateX(-35%);
            transition: 0.2s;
        }

        &.open-full {
            transform: translateX(-135%);
            transition: 0.4s;
        }

        &.close {
            transform: translateX(0%);
            transition: 0.2s;
        }

        #web-view-btn {
            position: absolute;
            left: -$button-size * 0.8;
            margin: auto;
            display: inline-block;

            @include interactive;

            width: $button-size * 0.8;
            height: $button-size * 2;
            line-height: $button-size * 2;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            box-shadow: $shadow;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
        }

        .web-view-outer {
            width: 35%;
            height: 100%;
            background-color: white;
            padding: $padding;
            position: relative;
            display: inline-block;
            text-align: center;
            overflow: scroll;

            .btn {
                @include interactive;

                padding: $padding;
                display: block;
                height: $button-size;
                line-height: $button-size - $padding * 2;
                overflow: hidden;
                position: relative;

                &.disabled {
                    cursor: wait;
                    animation-name: disabled-blink;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;

                    .fa-save {
                        display: none;
                    }
                }
            }
        }

        .web-view-inner {
            width: 100%;
            height: 100%;
            background-color: white;
            padding: $padding;
            position: absolute;
            display: inline-block;
            overflow: scroll;

            section .hide {
                visibility: hidden;
            }

            section .show {
                visibility: visible;
            }

            ul {
                list-style-type: none;
                -webkit-padding-start: 0;

                li {
                    @include interactive;

                    margin: auto;
                    margin-top: $padding * 2;
                    width: 70%;
                    list-style-type: none;
                }
            }

            .btn {
                @include interactive;

                padding: $padding;
                height: $button-size;
                margin: $padding;
            }
        }
    }

    .fractal-view {
        height: 100%;
        width: 100%;
    }

    .alert {
        color: $color-text;
        background-color: $color-highlight-bg;
        padding: $padding;
        text-align: center;
        border-radius: $corner-radius;
        visibility: hidden;
        pointer-events: all;
        width: $explorer-width / 1.5;
        box-shadow: $shadow;

        app-alert {
            input {
                @include interactive;

                width: 100%;
            }

            .btn {
                @include interactive;

                display: inline-block;
                padding: $padding;
                height: $font-size + $padding * 2;
                line-height: $font-size / 2 + $padding;
            }
        }
    }

    .controls {
        pointer-events: none;
        padding: $padding;
        font-size: 0px;

        app-gradientpanel, app-histogram {
            pointer-events: all;
        }

        input, .btn {
            @include interactive;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        input:focus, select:focus {
            outline: none;
        }

        .btn {
            display: inline-block;
            width: $button-size + 2;
            height: $button-size + 2;
            line-height: $button-size;
        }
    }

    .center {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        margin: auto;
        z-index: 99;
    }

    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;

        a {
            box-shadow: $shadow;
        }
    }

    .bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: $corner-radius;
        box-shadow: $shadow;
        width: $button-size+2;
        height: $button-size*2 +4;
        margin-left: $padding;
        margin-bottom: $padding;
        padding: 0;

        > .btn:first-child {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: 1px;
            border-bottom-style: solid;
        }

        > .btn:last-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
}
