#fractalCanvas {
    height: 100%;
    width: 100%;
    align-items: stretch;
    display: block;
    cursor: grab;

    &:active:hover {
        cursor: grabbing;
    }
}
#webGLCanvas {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    align-items: stretch;
    display: block;
    pointer-events: none;
}